/* Palette */

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { outline: 1px solid #BDBDBD; }

/* Global Settings */

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	/* overflow: hidden; */
}

/* Top Bar */

.summary {
	width: 100%;
	content: url(/../images/todo.png);
}

.hamburger {
	width: 100%;
	height: 100%;
	top: 0;
}

/* Body */

.content {
	height: 100%;
	bottom: 0;
}

.todoContainer {
	overflow: hidden;
}

.todoList {
	width: 100%;
	overflow-y: scroll;
}

.task {
	height: 15%;
}

.taskIcon {
	width: 15%;
	height: 100%;
	display: inline-block;
}

.taskContent {
	width: 85%;
	height: 100%;
	display: inline-block;
}

/* Footer */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
}

/* Elements */

.addTodoButton{
	float: right;
	border-radius: 50%;
	height: 90%;
	width: 9vh;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 10px;

	box-shadow: 2px 2px 5px 0 #000000;
}

.fa-star {
	padding-top: 15px;
	font-size: 40px;

	text-shadow: 2px 2px 2px #000000;
}
